<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Document</title>
</head>

<body>
    <form action="/test" method="post">
        <input type="text" name="first" id="first"><label for="first">first</label><br>
        <input type="text" name="second" id="second"><label for="second">second</label><br>
        <input type="text" name="third" id="third"><label for="third">thisd</label><br>
        <input type="text" name="fourth" id="fourth"><label for="fourth">fourth</label><br>
        <button type="submit">submit</button>
    </form>
    <script src="/public/script/script.js"></script>
</body>

</html>