<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form id="contact" action="/test" method="post">
            <input type="hidden" name="id" value="<%if(typeof id !="undefined"){%><%=id%><%}%>">
            <input type="hidden" id="clickTime" name="clickTime" value=''>
            <input type="text" name="name" id="name" placeholder="Name"><br>
            <input type="text" name="address" id="address" placeholder="Address"><br>
            <input type="text" name="idea" id="idea" placeholder="Ideas"><br>
            <textarea name="freeText" id="freeText" rows="10" placeholder="Free Text Area"></textarea>
            <button type="submit">submit</button>
        </form>
    </div>
    <script src="/public/script/script.js"></script>
</body>

</html>