<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Link</title>
  </head>
  <body>
    <h3>Test link</h3>
    <a href="http://10.10.19.76/id:<%=result%>"
      >http://10.10.19.76/id:<%=result%></a
    >
  </body>
</html>
